*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0; /*bularni o'ylab ko'rish kerak*/
}
body{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-family: "Roboto", "Arial", sans-serif;
}
/* bu saytga kirganda tab b-n shlash uchun */
*:focus{
    outline: 2px dotted #ff7500;
    outline-offset: 3px;
}
/* CONTAINER */
/* huddi shu tartibda ketgani yaxshi */
.container{
    width: 100%;
    max-width: 1140px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}
/*HEADER*/
.site-header{
    background-color: #FFF;
    border-top: 5px solid #ff7500;
    padding-top: 16px;
    padding-bottom: 16px;
}
.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-link{
    transition: opacity 0.4s ease; /* alohida main elem. bergan yaxshi*/
}
.logo-link img{
    display: block;
}
.logo-link:hover{
    opacity: 0.8;
}
.logo-link:active{
    opacity: 0.6;
}
.site-header-right{
    display: flex;
    align-items: center;
}
.sitenav-list{
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 32px;
}
.sitenav-item:not(:last-child){
    margin-right: 32px;
}
.sitenav-link{
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.4s ease,
    opacity 0.4s ease;
}
.sitenav-link:hover{
    color: #ff7500;
}
.sitenav-link:active{
    opacity: 0.6;
}
.main-link{
    display: inline-block;
    padding: 12px 24px;
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    border-radius: 4px;
    background-color: #FF7500;
    transition: opacity 0.4s ease;
}
.main-link:hover{
    opacity: 0.8;
}
.main-link:active{
    opacity: 0.6;
}
/* START HERO */
.hero{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #252420;
    color: #fff;   /* bunda ichidagi yozuvlar oq ranga kiradi meros bo'lib o'tdi bola taglarga*/
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-content{
    width: 390px;
}
.orange-line{
    width: 80px;
    height: 3px;
    margin: 0;
    margin-bottom: 40px;
    background-color: #ff7500;
    border: none;
}
.hero-heading{
    margin: 0;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%; /* 48px */
    font-family: "Roboto Condensed", "Roboto", sans-serif;
}
.hero-text{
    margin: 0;
    margin-bottom: 32px;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.hero-img img{
    width: 510px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}
/* START FEATURES */
.features{
    padding-top: 210px;
    padding-bottom: 210px;
}

.features-heading{
    margin: 0;
    margin-bottom: 72px;
    color: #000;
    font-size: 72px;
    font-weight: 700;
    line-height: 120%; /* 86.4px */
    width: 435px;
    font-family: "Roboto Condensed", "Roboto", sans-serif;
}
.features-list{
    display: flex;
    /* justify-content: space-between; */
    padding: 0;
    margin: 0;
}
/* ikonkaning yonida dumaloq aylana hosil qilish uchun */
.features-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
    border-radius: 50%;
    background-color: rgba(255, 117, 0, 0.20);
}
.features-item{
    width: 340px;
    margin-right: 40px;
}
.features-item:last-child{
    margin-right: 0;
}
.features-title{
    margin-top: 0;
    margin-bottom: 12px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    font-family: "Roboto Condensed", "Roboto", sans-serif;
}
.feature-info{
    margin: 0;
    color: #000;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
/* START PROMO */
.promo{
    padding-top: 120px;
    padding-bottom: 160px;
}
.promo-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: #252420;
    padding: 64px;
    color: #fff;
}
.promo-content{
    width: 440px;
}
.promo-heading{
    margin-top: 0;
    margin-bottom: 24px;
    width: 373px;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%; /* 48px */
    font-family: "Roboto Condensed", "Roboto", sans-serif;
}
.promo-info-wrapper{
    margin-bottom: 24px;
}
.promo-text{
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.promo-text:last-child{
    margin-bottom: 0;
}
.promo-highlight{
    color: #FF7500;
}
.promo-img{
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
}
/* START FOOTER */
.site-footer{
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #f8f8f8;
}
.site-footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-footer-socials{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
/* img block */
.site-footer-socials li{
    margin-right: 16px;
}
.media-item a{
    transition: all 0.3s ease;
}
.site-footer-socials li:last-child{
    margin-right: 0;
}
.site-footer-socials a{
    display: block;
    color: #222;
}
.site-footer-socials a svg{
    display: block;
}
.site-footer-socials a:hover{
    color: #ff7500;
}
.site-footer-socials a:active{
    opacity: 0.6;
}
.site-footer-divider{
    background-color: rgba(37, 36, 32, 0.50);
    height: 2px;
    border: none;
    margin-top: 40px;
    margin-bottom: 64px;
}
.site-footer-bottom{
    display: flex;
    justify-content: space-between;
}
.site-footer-links{
    width: 220px;
    /* line-height: 19px    ; */
    padding: 0;
    margin: 0;
    margin-right: 68px;
}
.site-footer-links li{
    margin-bottom: 16px;
}
.site-footer-links li:last-child{
    margin-bottom: 0;
}
.site-footer-links:last-child{
    margin-right: 0;
}
.site-footer-links a{
    color: #252420;
    font-weight: 400;
    line-height: 19px;
    transition: color 0.4s ease;
}

.site-footer-links a:hover{
    color: #ff7500;
}
.site-footer-links a:focus{
    opacity: 0.6;
}