*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/*HEADER*/
.site-header{
    background-color: #FFF;
}
.sitenav-list{

}
.sitenav-link{
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.main-link{
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    border-radius: 4px;
    background: #FF7500;
}
/* START HERO */
.hero{
    background-color: #252420;
    color: #fff;   /* bunda ichidagi yozuvlar oq ranga kiradi meros bo'lib o'tdi bola taglarga*/
}
.hero-content{
    width: 390px;
}
.orange-line{
    width: 80px;
    height: 3px;
    background-color: #ff7500;
}
.hero-heading{
    font-size: 40px;
    font-weight: 700;
    line-height: 120%; /* 48px */
    letter-spacing: 0.5px;
}
.hero-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.5px;
}
.hero-img{
    width: 510px;
    height: 510px;
}
/* START FEATURES */
.features-heading{
    color: #000;
    font-size: 72px;
    font-weight: 700;
    line-height: 120%; /* 86.4px */
    letter-spacing: 0.5px;
    width: 435px;
}
.features-icon-wrapper{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.20);
}
.features-item{
    width: 340px;
}
.features-title{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.5px;
}
.feature-info{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.5px;
}
/* START PROMO */
.promo{
    background-color: #252420;
    color: #fff;
}
.promo-content{
    width: 440px;
}
.promo-heading{
    width: 373px;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%; /* 48px */
    letter-spacing: 0.5px;
}
.promo-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.promo-highlight{
    color: #FF7500;
}
.promo-img{
    width: 440px;
    height: 440px;
    object-fit: cover;
}
/* START FOOTER */
.site-footer{
    background-color: #f8f8f8;
}
.site-footer-divider{
    background-color: rgba(37, 36, 32, 0.50);
    height: 2px;
}
.site-footer-links{
    width: 220px;
}
.site-footer-links a{
    color: #252420;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
